// ******************************
//         VARIABLES
// ******************************

// General
$white-text: hsl(0, 0%, 100%);
$gray-text: hsl(207, 13%, 34%);

// Section two
$section-two-bg-color-one: hsl(237, 17%, 21%);
$section-two-bg-color-two: hsl(237, 23%, 32%);

// CTA buttons
$btn-bg-color-one: hsl(13, 100%, 72%);
$btn-bg-color-two: hsl(353, 100%, 62%);

// Footer
$footer-bg-color: hsl(240, 2%, 79%);
$footer-text-color: hsl(240, 10%, 16%);
