// ******************************
//         VARIABLES
// ******************************

// Fonts
$main-font-family: "Overpass", sans-serif;
$second-font-family: "Ubuntu", sans-serif;

// Text xolors
$white-text: hsl(0, 0%, 100%);
$content-text-color: hsl(207, 13%, 34%);
$headings-text-color: hsl(208, 49%, 24%);

// Section two
$section-two-bg-color-one: hsl(237, 17%, 21%);
$section-two-bg-color-two: hsl(237, 23%, 32%);

// CTA buttons
$btn-bg-color-one: hsl(13, 100%, 72%);
$btn-bg-color-two: hsl(353, 100%, 62%);
$btn-hover-bg-color: hsl(355, 100%, 74%);
$btn-text-color: hsl(356, 100%, 66%);

// Footer
$footer-bg-color: hsl(240, 10%, 16%);
$footer-text-color: hsl(240, 2%, 79%);