// ********************************
//       ATTRIBUTION FOOTER
// ********************************

.attribution {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  font: {
    family: $main-font-family;
    size: 1.4rem;
  }
  text-align: center;
  padding: 2rem 1rem;

  a {
    background: linear-gradient(
      -40deg,
      lighten($btn-bg-color-one, 10%),
      $btn-bg-color-two
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
  }
}
