// ************************
//       MAIN CONTENT
// ************************

.main-content {
  @include bdr(cyan);
  @include flexbox($direction: column);
  padding: 8rem 0rem;
  width: 100%;
  overflow: hidden
}
