// ************************
//       MAIN CONTENT
// ************************

.main-content {
  @include flexbox($direction: column);
  padding: 8rem 0rem;
  width: 100%;
  overflow: hidden;
  @include for-large-screens {
    padding-bottom: 15rem;
  }
}
