// **********************
//      MAIN HEADER
// **********************

.main-header {
  color: $white-text;
  font-family: $main-font-family;
  width: 85%;
  max-width: 135rem;

  // Container
  &-container {
    background-image: url(../../images/bg-pattern-intro.svg),
      linear-gradient(90deg, $btn-bg-color-one, $btn-bg-color-two);
    background-size: 320%;
    background-repeat: no-repeat;
    background-position: -70vw -45vw, 0;
    border-bottom-left-radius: 10rem;
    padding: 5rem 0rem;
    @include for-medium-screens {
      background-position: -55vw -120vw, 0;
      padding: 6rem 0rem 8rem;
    }
    @include for-large-screens {
      background-position: -20vw -70vw, 0;
      background-size: 200%, 100%;
    }
    @include for-extra-large-screens {
      background-position: -20vw -80vw, 0;
    }
  }

  // Main header - Content
  &__content {
    @include flexbox($direction: column);
    text-align: center;
    margin: 11rem 0rem;
    transform: translateX(-200%);
    opacity: 0;
    animation: reveal 2s .5s forwards;

    // Main header - Content title
    &-title {
      font-size: 3.2rem;
      @include for-medium-screens {
        font-size: 4.5rem;
      }
      @include for-extra-large-screens {
        font-size: 5.5rem;
      }
    }

    // Main header - Content description
    &-description {
      font: {
        size: 1.6rem;
        weight: 300;
      }
      margin: 2rem 0rem 3rem;
      @include for-medium-screens {
        font-size: 1.8rem;
      }
      @include for-extra-large-screens {
        font-size: 2rem;
        margin: 3rem auto;
      }
    }
  }
}
