// ************************
//       MAIN CONTENT
// ************************

.main-content {
  @include bdr(cyan);
  @include flexbox($direction: column);
  padding: 8rem 0rem;
}

// Section one
.section-one {
  @include bdr(red);
  @include flexbox($direction: column);
  margin: 3rem 0rem 2rem;
  width: 85%;

  @include for-medium-screens {
    @include flexbox($direction: row, $wrap: wrap, $justify: space-evenly);
    position: relative;
    width: 100%;
  }

  // Seccion one - Title
  &__title {
    color: $headings-text-color;
    font: {
      family: $second-font-family;
      size: 2.6rem;
      weight: 500;
    }
    text-align: center;
    width: 100%;

    @include for-medium-screens {
      font-size: 3rem;
      margin-bottom: 5rem;
    }
    @include for-large-screens {
      font-weight: bold;
      margin-bottom: 10rem;
    }
  }
  // Seccion one - Illustration
  picture {
    @include for-medium-screens {
      width: 50%;
      order: 1;
      position: relative;
      display: flex;
      align-items: center;
    }
  }
  &__illustration {
    @include bdr(red);
    max-width: 100%;
    margin: 3rem 0rem;

    @include for-medium-screens {
      max-width: 130%;
      position: absolute;
      transform: translateX(10%);
    }
  }

  // Seccion one - Content
  &__content-container {
    @include for-medium-screens {
      width: 50%;
      @include flexbox($direction: column, $justify: flex-end);
    }
  }
  &__article {
    font-size: 1.6rem;
    text-align: center;
    font-family: $main-font-family;
    margin-bottom: 3rem;
    @include for-medium-screens {
      transform: translateX(15%);
      text-align: left;
      width: 85%;
      max-width: 50rem;
    }

    &-title {
      color: $headings-text-color;
      font: {
        size: 2.4rem;
        weight: 600;
      }
      margin-bottom: 2rem;
    }
    &-description {
      color: $content-text-color;
      font-weight: 300;
      line-height: 2.5rem;
    }
  }
}

// Section two
.section-two {
  @include bdr(cyan);
  @include h-center;
  position: relative;
  width: 85%;
  max-width: 40rem;
  @include for-medium-screens {
    @include flexbox($justify: space-between);
    max-width: 85%;
  }
  @include for-large-screens {
    max-width: 110rem;
  }

  // Section two - Container
  &-container {
    @include bdr;
    background: url(../../images/bg-pattern-circles.svg),
      linear-gradient($section-two-bg-color-one, $section-two-bg-color-two);
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: center -70vw, 0;
    border-radius: 0 10rem 0 10rem;
    margin-top: 25rem;
    width: 100%;

    @include for-medium-screens {
      background: url(../../images/bg-pattern-circles.svg),
        linear-gradient($section-two-bg-color-one, $section-two-bg-color-two);
      background-size: 110%;
      background-position: -30vw -40vw, 0;
      background-repeat: no-repeat;
      margin: 15rem 0;
    }
    @include for-large-screens {
      background-size: 100%;
      background-position: -22vw -50vw, 0;
      margin: 20rem 0;
    }
  }

  // Section two - Illustration
  &__illustration {
    max-width: 105%;
    position: absolute;
    transform: translate(-6%, -100%);
    @include for-medium-screens {
      left: -10%;
      transform: translate(0%);
      width: 70%;
    }
    @include for-large-screens {
      left: 0;
      width: 55rem;
    }
  }
  // Section two - Content
  &__content {
    @include bdr(cyan);
    color: $white-text;
    font-family: $main-font-family;
    font-size: 1.6rem;
    text-align: center;
    margin: 16rem auto 12rem;
    @include for-medium-screens {
      margin: 6rem 0 6rem auto;
      text-align: left;
      width: 40%;
    }
    @include for-large-screens {
      margin: 9rem 0 9rem auto;
    }

    &-title {
      font: {
        size: 3rem;
        weight: 600;
      }
      margin-bottom: 2rem;
    }
    &-description {
      color: lighten($footer-text-color, 10%);
      font-weight: 300;
      line-height: 2.5rem;
    }
  }
}

// Section three
.section-three {
  @include bdr(red);
  @include flexbox($direction: column);
  margin: 3rem 0rem 2rem;
  width: 85%;
  @include for-medium-screens {
    @include flexbox($direction: row, $wrap: wrap, $justify: space-evenly);
    position: relative;
    width: 100%;
  }
  @include for-large-screens{
   margin: 10rem 0; 
  }
  // Section three - Title
  &__title {
    color: $headings-text-color;
    font: {
      family: $second-font-family;
      size: 2.6rem;
      weight: 500;
    }
    text-align: center;
  }
  // Section three - Illustration
  picture {
    @include for-medium-screens {
      width: 50%;
      position: relative;
      display: flex;
      align-items: center;
    }
  }
  &__illustration {
    @include bdr(red);
    max-width: 100%;
    margin: 3rem 0rem;
    @include for-medium-screens {
      max-width: 130%;
      position: absolute;
      transform: translateX(-25%);
    }
  }

  // Section three - Content
  &__content-container {
    @include for-medium-screens {
      @include flexbox($direction: column, $justify: flex-end);
      width: 50%;
      order: 1;
    }
  }
  &__article {
    font-size: 1.6rem;
    text-align: center;
    font-family: $main-font-family;
    margin-bottom: 3rem;
    @include for-medium-screens {
      transform: translateX(-15%);
      text-align: left;
      width: 85%;
      max-width: 50rem;
    }

    &-title {
      color: $headings-text-color;
      font: {
        size: 2.4rem;
        weight: 600;
      }
      margin-bottom: 2rem;
    }
    &-description {
      color: $content-text-color;
      font-weight: 300;
      line-height: 2.5rem;
    }
  }
}
