// ****************************
//       MAIN FOOTER NAV
// ****************************

.main-footer__nav {
  @include bdr;
  font: {
    family: $main-font-family;
    size: 1.6rem;
  }
  margin-bottom: 3rem;
  text-align: center;
  width: 10rem;
  @include for-medium-screens{
    text-align: left;
    margin-left: auto;
  }

  &-title {
    color: $white-text;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  &-link {
    color: $footer-text-color;
    display: block;
    font-family: $second-font-family;
    margin-bottom: 1.5rem;
    text-decoration: none;
    transition: all 0.5s;

    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: $btn-bg-color-one;
    }
  }
}
