// *****************************
//      MAIN NAV ACCORDION
// *****************************

.main-nav__accordion-container {
  //   @include bdr(magenta);
  font-size: 2rem;
  text-align: center;
}

// Accordion - item
.main-nav__accordion-item {
  border-bottom: 1px solid #eee;
  // Accordion - item title
  &-title {
    color: $headings-text-color;
    display: block;
    font: {
      size: 1.8rem;
      weight: 600;
    }
    padding: 1rem 0rem;
    position: relative;
    text-decoration: none;

    &::after {
      content: url("../../images/icon-arrow-dark.svg");
      position: absolute;
      margin-left: 1rem;
      transition: transform 0.5s;
    }
    &--active::after {
      transform: rotate(0.5turn);
    }
  }

  //Accordion - item content
  &-content {
    background-color: #efeff1;
    border-radius: 0.5rem;
    list-style-type: none;
    display: none;

    &--show {
      padding: 2rem 0rem;
      display: block;
    }
  }
  // Accordion - item link
  &-link {
    color: $headings-text-color;
    display: block;
    font: {
      size: 1.6rem;
      weight: 600;
    }
    padding: 0.7rem 0rem;
    text-decoration: none;
  }
}
